/*  
    cores: 
    roxo: C64EF6
    azul: 8660FC
    branco escuro: 7A797A
    texto escuro: 7A797A
    texto claro: FBFBFB
*/
*{
    margin: 0;
    padding: 0;
}
.miniLogo{
    display: none;
}
@media (max-width: 55em){
    .miniLogo{
        display: visible;
        z-index: 1;
    }
}
body{
    display: flex;
    flex-direction: row;
    background-color: white;
    font-family: "sans-serif" cursive ;
    column-rule: #FBFBFB;
    font-weight: 100;
}

header{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(/img/Group\ main2.png);
    background-size: contain;
    background-repeat: no-repeat;
    flex-direction: column;
}
@media (max-width: 55em){
    header{
        display: none;
    }
}

main{
    letter-spacing: 2px;
    flex-grow: 1;
    color: #7A797A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: url(/img/Frame\ 6.png);
    background-size: contain;
    background-position: center;
}
.container{
    padding: 8%;
    display: flex;
    flex-direction: column;
}
.btn-login{
    background-image: linear-gradient(#c64efe, #8660FC);
    color: #FBFBFB;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 12px;
    font-weight: bold;
}
@media (max-width: 55em){
    .btn-login{
        margin-bottom: 15%;
    }
}
.btn-login:hover{
    background-image: linear-gradient(#a64efe, #6660FC);

}
.logo{
    position: relative;
    top: 55px;
}

footer{
    box-sizing: border-box;
    padding: 2%;
    font-size: 14px;
    color: white;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(-90deg,#c64efe, #8660FC);
}
label{
    display: block;
}

.esqueceuSenha{
    color: #969696f1;
    font-size: 12px;
    margin: 4% 0 4% 0;
}
.esqueceuSenha > a{
    color: #c64efe;
}
a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.linha{
    background-image: linear-gradient(-90deg,#c64efe, #8660FC);
    height: 8px;
    margin: 10% 0;
}
form{
    margin: 10% 0;
}
input{
    border: none;
    height: 30px;
}